{% extends "base.html" %}
{% block content %}


<main id="main" class="main">

    <div class="pagetitle">
      
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">خانه</a></li>
          <li class="breadcrumb-item active">داشبورد</li>
        </ol>
      </nav>
      
      <style>
      .breadcrumb {
        direction: rtl;
      }
      
      .breadcrumb-item + .breadcrumb-item::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/></svg>');
    vertical-align: middle;
    margin: 0 0.5rem;
}
      </style>
    </div><!-- End Page Title -->   
    
  </main><!-- End #main -->
{% endblock %}