{% extends "base.html" %}
{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">خانه</a></li>
          <li class="breadcrumb-item active">پروفایل</li>
        </ol>
      </nav>
      
      <style>
      .breadcrumb {
        direction: rtl;
      }
      
      .breadcrumb-item + .breadcrumb-item::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/></svg>');
    vertical-align: middle;
    margin: 0 0.5rem;
}
      </style>
      <style>
        .error {
            color: red;  /* Make the text red */
            font-size: 0.9em;  /* Smaller font size for error messages */
            margin-top: 5px;  /* Add some spacing above the error message */
        }
    </style>
    </div><!-- End Page Title -->  

    <section class="section profile">


        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">اطلاعات کلی</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">ویرایش پروفایل</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">تغییر رمز عبور</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">نام و نام خانوادگی</div>
                    <div class="col-lg-9 col-md-8">{{ user.first_name }} {{ user.last_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">کد ملی</div>
                    <div class="col-lg-9 col-md-8">{{ user.national_id }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">تلفن</div>
                    <div class="col-lg-9 col-md-8">{{ user.phone_number }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">ایمیل</div>
                    <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="first_name" class="col-md-4 col-lg-3 col-form-label">نام</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="first_name" type="text" class="form-control" id="first_name" value="{{user.first_name}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="last_name" class="col-md-4 col-lg-3 col-form-label">نام خانوادگی</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="last_name" type="text" class="form-control" id="last_name" value="{{user.last_name}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="national_id" class="col-md-4 col-lg-3 col-form-label">کد ملی</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="national_id" type="text" class="form-control" id="national_id" value="{{user.national_id}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="major" class="col-md-4 col-lg-3 col-form-label">رشته</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="major" type="text" class="form-control" id="major" value="{{user.major}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="work_place" class="col-md-4 col-lg-3 col-form-label">شرکت</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="work_place" type="text" class="form-control" id="work_place" value="{{user.work_place}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="job" class="col-md-4 col-lg-3 col-form-label">شغل</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="job" type="text" class="form-control" id="job" value="{{user.job}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="phone_number" class="col-md-4 col-lg-3 col-form-label">تلفن</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone_number" type="text" class="form-control" id="phone_number" value="{{user.phone_number}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="email" class="col-md-4 col-lg-3 col-form-label">ایمیل</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="email" value="{{user.email}}">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">رمز عبور فعلی</label>
                      <div class="col-md-8 col-lg-9">
                        {{ passwordform.old_password }}
                        {% if passwordform.old_password.errors %}
                        <div class="error">{{ passwordform.old_password.errors }}</div>
                        {% endif %}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label class="col-md-4 col-lg-3 col-form-label">رمز عبور جدید</label>
                      <div class="col-md-8 col-lg-9">
                        {{ passwordform.new_password1 }}
                        {% if passwordform.new_password1.errors %}
                        <div class="error">{{ passwordform.new_password1.errors }}</div>
                        {% endif %}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">رمز عبور جدید را دوباره وارد کنید</label>
                      <div class="col-md-8 col-lg-9">
                        {{ passwordform.new_password2 }}
                        {% if passwordform.new_password2.errors %}
                        <div class="error">{{ passwordform.new_password2.errors }}</div>
                        {% endif %}
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" name="changepass" class="btn btn-primary">تغییر رمز عبور</button>
                    </div>
                  </form><!-- End Change Password Form -->
                  {% if messages %}
                  <div>
                      {% for message in messages %}
                          <p>{{ message }}</p>
                      {% endfor %}
                  </div>
              {% endif %}

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  {% endblock %}



